<p style="color: green"><%= notice %></p>

<div class="max-w-4xl mx-auto border border-gray-200 rounded-lg p-4">
  <%= render @todo %>

  <div>
    <%= link_to "Edit this todo", edit_todo_path(@todo), class: "inline-block text-blue-600 hover:text-blue-800" %> |
    <%= link_to "Back to todos", todos_path, class: "inline-block text-blue-600 hover:text-blue-800" %>

    <%= button_to "Destroy this todo", @todo, method: :delete, class: "w-full sm:w-auto text-center rounded-md my-2.5 px-2.5 py-1.5 bg-red-600 hover:bg-red-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
</div>
